@keyframes text-appear {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: black;
}
.logo {
    font-size: 2em;
    color: white;
    cursor: default;
}
.logo span {
    color: #7d2ae8;
}
.navigation {
    margin-left: -300px;
}
.navigation a {
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500;
    transition: .3s;
}
.navigation a:hover {
    color: #7d2ae8;
}
.btn-talk {
    color: #fff;
    text-decoration: none;
    padding: 8px 35px;
    background: #7d2ae8;
    border-radius: 10px;
    border: 2px solid #7d2ae8;
    font-weight: 500;
    transition: .3s;
}
.btn-talk:hover {
    color: #7d2ae8;
    background: transparent;
}
#home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('jow.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 30px 100px;
}

.content {
    max-width: px;
    color: #555;
}
.content h2 {
    font-size: 3em;
}
.content h2 span {
    color: #7d2ae8;
}
.content h4 {
    font-size: 2em;
    color: #7d2ae8;
}
.content p {
    padding: 10px 0 40px 0;
    font-size: 2rem;
}
.btn-group a {
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    background: #7d2ae8;
    border-radius: 10px;
    border: 2px solid #7d2ae8;
    font-weight: 500;
    transition: .3s;
}
.btn-group a:hover:nth-child(1) {
    color: #7d2ae8;
    background: transparent;
}
.btn-group a:nth-child(2) {
    color: #7d2ae8;
    background: transparent;
    margin-left: 30px;
    padding: 10px 30px;
}
.btn-group a:hover:nth-child(2) {
    color: #fff;
    background: #7d2ae8;
}
.social-icons {
    position: absolute;
    bottom: 50px;
}
.social-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #7d2ae8;
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #fff;
    outline: 2px solid #7d2ae8;
    transition: .3s;
}
.social-icons a:hover {
    transform: translateY(-5px);
}
.social-icons a i {
    color: #fff;
}

.box {
    border: solid;
    border-width: 1px;
    border-color: #7d2ae8;
}

.box1 {
    border: solid;
    border-width: 1px;
    border-color: #7d2ae8;
}

h1 {
    text-align: center;
    margin: 50px;
    font-size: 3rem;
    color: #7d2ae8;
}

img {
    width: 30rem;
    margin-left: 6rem;
    border-radius: 20rem;
    float: left;
    border: solid;
    border-color: #7d2ae8;
}

.image {
    margin-top: 16cap;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

.image1 {
    float: right;
    margin-right: 6rem;
    margin-top: 20rem;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

.image2 {
    margin-right: 6rem;
    margin-top: 20rem;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

.image3 {
    float: right;
    margin-right: 6rem;
    margin-top: 20rem;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;

}

.image4 {
    margin-right: 6rem;
    margin-top: 30rem;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

.paragraph {
    font-size: 3.5rem;
    margin-left: 16cap;
    margin-top: 10rem;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

.paragraph1 {
    font-size: 3.5rem;
    margin-top: 25rem;
    margin-left: 10rem;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

.paragraph2 {
    font-size: 3.5rem;
    padding: 1rem;
    overflow: hidden;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

.paragraph3 {
    font-size: 3.5rem;
    margin-top: 27rem;
    margin-left: 10rem;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

.paragraph4 {
    font-size: 3.5rem;
    margin-left: 40rem;
    margin-bottom: 15rem;
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}
